

<h1>NASA Astronomy Picture Of The Day</h1>

<div class="booyah-box">
  <h1><%= @nasa_index["title"] %></h1>
  <% if @media_type_is_video %>
    http://%=%20@nasa_index[
  <% else %>
    <img src="<%= @nasa_index["url"] %>"/>
  <% end %> 
  <p><%= @nasa_index["explanation"] %></p>
  <h3><%= @nasa_index["date"] %></h3>
  

</div>