

<h1>NASA Astronomy Picture Of The Day</h1>

<div class="booyah-box">

  <h1><%= @nasa_show["title"] %></h1>
  <% if @media_type_is_video %>
    http://%=%20@nasa_show[
  <% else %>
    <img src="<%= @nasa_show["url"] %>"/>
  <% end %> 
  <p><%= @nasa_show["explanation"] %></p>
  <h3><%= @nasa_show["date"] %></h3>

</div>